@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc42e;
  position: relative;
}

.title{
  padding: 10px 0;
  overflow: hidden;
}

.title h1 span{
  display: inline-block;
  font-size: 3vw;
  font-family: "Poppins";
  font-weight: 600;
  color: #112241;
}
.links{
  width: 100%;
  background-color:#112241;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}
.links-ul{
  list-style: none;
  display: flex;
  gap: 2vw;
  overflow: hidden;
}

.nav-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links-ul li a , .links a{
  text-decoration: none;
  color: #ffc42e;
  font-family: "Poppins";
}

.logo{
  position: absolute;
  top: 15%;
  left: 5%;
}
.logo-image{
  width: 55px;
}

.learn-container h1, .practice-container h1{
  font-family: "Poppins";
  font-size: 3vw;
  font-weight: 500;
  color: #ffc42e;
}

.learn-container, .practice-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 4vw 0;
}

.learn-container{
  background-color: #112241;
}
.slider-container{
  max-width: 80%; 
}

.slider-container img{
  width: 300px;
}


.card-container-duties img{
  width: 350px;
}

.card-container img:hover, .card-container-duties img:hover{
  transform: scale(0.98);
  border: 4px solid burlywood;
}

.learn-main-container{
  margin: 5vw 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.map-container{
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  margin: 80px 0;
}
.map-container .info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.map-container .info h1{
  font-size: 4vw;
}

.map-container .info p{
  font-size: 2vw;
  font-family: "Poppins";
  color: #0cc0df;
}

.map-container .info ul li{
  font-size: 1.5vw;
  font-family: "Poppins";
  color: black;
}

.circular-carousel{
  display: flex;
  align-items: center;
  gap: 10vw;
}

.circular-carousel .info-box-wrapper p{
  max-width: 600px;
}

.info-box-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-box-wrapper h1, .learn-main-container h1{
  font-family: "Poppins";
  font-size: 3vw;
  font-weight: 600;
  color: black;
}

.info-box-wrapper p{
  font-size: 16px;
  font-family: "Poppins";
  font-weight: normal;
}




/* signup  */


.signup-main{
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.signup-page{
  margin-top: 100px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container{
  width: 90%;
  display: flex;
  justify-content: center;
}

.signup-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup-head h1{
  font-weight: 600;
  font-size: xx-large;
}

.signup-head h5{
  font-weight:400;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signin-link{
  color: #2C7847;
}

.signin-link:hover{
  color: #648f4f;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 430px;
}


.signup-input{
  height: 70px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px; 
  padding: 1rem;
}

.signup-input:focus{
  outline: none;
}

.signup-input::placeholder{
  color: black;
}

.signup-button{
  height: 50px;
  width: 40%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2C7847;
  border: none;
  cursor: pointer;
}

.signup-button:hover{
  color: rgba(255, 255, 255, .5);
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* map  */

.leaflet-container{
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}

.modal-container .scenario, .modal-container .question{
  font-size: 2vw;
}

.options{
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.option{
  padding: 10px;
}


/* game  */

.score{
  height: 100px;
  padding: 30px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  perspective: 1000px; /* Perspective for 3D effect */
  cursor: pointer;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border: 0.5px solid black;
  border-radius: 5px;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg); /* Flip the card */
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Prevents mirroring */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #ddd;
}

.card-face.front {
  border-radius: 5px;
}

.card-face.front img{
  height: 60%;
  width: 60%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face.back {
  transform: rotateY(180deg); 
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-bar {
  width: 400px;
  height: 30px; /* Adjust height as needed */
  border: 1px solid black;
  border-radius: 25px;
  position: relative; /* Make the progress bar a containing block */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure content stays within the bar */
}

.progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar span {
  position: absolute; /* Absolute positioning to center it */
  z-index: 1; /* Ensure it stays above the progress */
  color: black; /* Adjust text color for visibility */
  font-weight: bold;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.modal img{
  margin-bottom: 20px;
}

.modal .scenario, .question{
  background-color: #0cc0df;
  padding: 20px;
}

.modal .question{
  margin-bottom: 20px;
}

.options .option {
  background-color: #648f4f;
  font-size: 20px;
  border-radius: 25px;
  border: none;
}





