@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  position: relative;
}

.title{
  padding: 10px 0;
  overflow: hidden;
}

.title h1 span{
  display: inline-block;
  font-size: 2.5vw;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
}
.links{
  width: 100%;
  background-color:lightblue;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}
.links-ul{
  list-style: none;
  display: flex;
  gap: 2vw;
  overflow: hidden;
}

.links-ul li a , .links a{
  text-decoration: none;
  color: black;
  font-family: "Poppins";
}

.logo{
  position: absolute;
  top: 15%;
  left: 5%;
}
.logo-image{
  width: 55px;
}

.learn-container h1, .practice-container h1{
  font-family: "Poppins";
  font-size: 3vw;
  font-weight: 500;
  color: rgb(149, 104, 46);
}

.learn-container, .practice-container{
  margin: 4vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.slider-container{
  max-width: 80%;
} 

.slider-container img{
  width: 300px;
}

.card-container-duties img{
  width: 350px;
}

.card-container img:hover, .card-container-duties img:hover{
  transform: scale(0.98);
  border: 4px solid burlywood;
}

.learn-main-container{
  margin: 5vw 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.map-container{
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  margin: 80px 0;
}
.map-container .info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.map-container .info h1{
  font-size: 4vw;
}

.map-container .info p{
  font-size: 2vw;
  font-family: "Poppins";
  color: #0cc0df;
}

.map-container .info ul li{
  font-size: 1.5vw;
  font-family: "Poppins";
  color: black;
}

.circular-carousel{
  display: flex;
  align-items: center;
  gap: 10vw;
}

.circular-carousel .info-box-wrapper p{
  max-width: 600px;
}

.info-box-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-box-wrapper h1, .learn-main-container h1{
  font-family: "Poppins";
  font-size: 3vw;
  font-weight: 600;
  color: black;
}

.info-box-wrapper p{
  font-size: 16px;
  font-family: "Poppins";
  font-weight: normal;
}




/* signup  */


.signup-main{
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.signup-page{
  margin-top: 100px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container{
  width: 90%;
  display: flex;
  justify-content: center;
}

.signup-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup-head h1{
  font-weight: 600;
  font-size: xx-large;
}

.signup-head h5{
  font-weight:400;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signin-link{
  color: #2C7847;
}

.signin-link:hover{
  color: #648f4f;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 430px;
}


.signup-input{
  height: 70px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px; 
  padding: 1rem;
}

.signup-input:focus{
  outline: none;
}

.signup-input::placeholder{
  color: black;
}

.signup-button{
  height: 50px;
  width: 40%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2C7847;
  border: none;
  cursor: pointer;
}

.signup-button:hover{
  color: rgba(255, 255, 255, .5);
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* map  */

.leaflet-container{
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}

.modal-container .scenario, .modal-container .question{
  font-size: 2vw;
}

.options{
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.option{
  padding: 10px;
}